name: Build

on: push

jobs:
  build:
    name: ${{ matrix.config.name }} (${{ matrix.build_type }})
    runs-on: ${{ matrix.config.os }}
    if: "!contains(github.event.head_commit.message, '[skip ci]')"

    strategy:
      fail-fast: false
      matrix:
        build_type: ["Debug", "Release"]
        config:
          - {
              name: "macOS Clang",
              os: macos-latest,
              generator: "Ninja",
            }
          - {
              name: "Ubuntu GCC",
              os: ubuntu-latest,
              generator: "Ninja",
            }
          - {
              name: "Windows MSVC",
              os: windows-latest,
              generator: "Ninja",
           }

    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Install Dependencies (macOS)
        if: matrix.config.os == 'macos-latest'
        run: |
          brew install ninja xerces-c

      - name: Install Dependencies (Ubuntu)
        if: matrix.config.os == 'ubuntu-latest'
        run: |
          sudo apt-get update

          sudo apt-get install -y libxerces-c-dev ninja-build

      - name: Install Dependencies (Windows)
        if: matrix.config.os == 'windows-latest'
        run: |
          conda install -y -c conda-forge ninja xerces-c

      - name: Configure MSVC console (Windows)
        if:  matrix.config.os == 'windows-latest'
        uses: ilammy/msvc-dev-cmd@v1

      - name: Set environment for MSVC (Windows)
        if:  matrix.config.os == 'windows-latest'
        run: |
          # Set these env vars so cmake picks the correct compiler
          echo "::set-env name=CXX::cl.exe"
          echo "::set-env name=CC::cl.exe"

      - name: Configure
        run: >
          mkdir libE57Format-build

          cmake
          -B libE57Format-build
          -G "${{ matrix.config.generator }}"
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          .

      - name: Build
        run: |
          cmake --build libE57Format-build
